@import url('../icon/iconfont.css');

.md-box{
  height: $defaultHeight;
  border:1px solid #ccc;
  background-color:$defaultColor;
  border-radius:3px;
  overflow:hidden;
  @include flex;
  flex-direction:column;
  &.md-full{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 19901224;
    height: auto!important;
  }
}
.md-head{
  padding:6px 3px;
  border-bottom: 1px solid #ccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  background-color: #f3f3f3;
  background-image: linear-gradient(to top, #f5f5f5, #efefef);
  background-repeat: repeat-x;
  user-select:none;
  -webkit-touch-callout: none;
  @include center-y;
  justify-content: space-between;
  flex-shrink:0;
  .md-tool{
    @include center-y;
    &.md-tool-l{
      flex: 1;
      flex-wrap: wrap;
      padding-right: 5px;
      position: relative;
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 5px;
        bottom: 5px;
        width: 1px;
        background: #ccc;
      }
    }
    &.md-tool-r{
      flex-shrink: 0;
      padding-left: 5px;
    }
  }
  .md-icon{
    width: 26px;
    height: 26px;
    @include center;
    font-size: 14px;
    color: #888;
    border: 1px solid transparent;
    margin: 1px;
    transition: all .2s;
    border-radius: 2px;
    overflow: hidden;
    font-weight: 700;
    cursor: pointer;
    &:hover{
      @include headHover;
    }
    &.md-active{
      @include headHover;
    }
  }
}
.md-body{
  flex:1;
  height:100%;
  overflow:hidden;
}
.md-edit,
.md-text{
  height:100%;
  width:50%;
  float:left;
  &.md-text{
    border-left:1px solid #ccc;
    overflow:auto;
  }
  .md-textarea{
    display:block;
    width:100%;
    height:100%;
    outline:none;
    border:none;
    resize:none;
    padding:10px;
    font-size:16px;
    line-height:1.5;
    color: #666;
  }
  .md-main{
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 10px 20px;
    width: 100%;
    word-break: break-all;
    color: #666;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-size-adjust: 100%;
  }
}

.md-scroll::-webkit-scrollbar-thumb{
  background-color: #acacac;
  background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent);
}
.md-scroll::-webkit-scrollbar{
  width:5px;
  height: 8px;
  background:#e4e4e4;
}

.marked-body .marked-scroll::-webkit-scrollbar-thumb{
  background-color: #acacac;
  background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent);
}
.marked-body .marked-scroll::-webkit-scrollbar{
  width:4px;
  height:4px;
  background:#e4e4e4;
}
.marked-body{
  line-height:1.5;
  color:#24292e;
}
.marked-body .marked-code{
  border-left:.25em solid rgba(0, 128, 128, 0.65);
  border-radius:3px;
  background-color:#f6f8fa;
  position:relative;
}
.marked-body .marked-html{
  margin-bottom:16px;
}
.marked-body.markdown-body .highlight pre,
.marked-body.markdown-body pre{
  line-height:1.65;
}
.marked-body.markdown-body code,
.marked-body.markdown-body pre{
  font-family:play,SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}
.marked-body.markdown-body table{
  display:table;
  width:100%;
}
.marked-body.markdown-body hr{
  height:2px;
}
.marked-body.markdown-body ol ol,
.marked-body.markdown-body ul ol{
  list-style-type:decimal;
}
.marked-body.markdown-body h1,
.marked-body.markdown-body h2,
.marked-body.markdown-body h3,
.marked-body.markdown-body h4,
.marked-body.markdown-body h5,
.marked-body.markdown-body h6{
  margin-top:0;
}
.marked-body.markdown-body table th,
.marked-body.markdown-body table td{
  text-align:center;
}
.marked-body.markdown-body table th[align='center'],
.marked-body.markdown-body table td[align='center']{
  text-align:center;
}
.marked-body.markdown-body table th[align='right'],
.marked-body.markdown-body table td[align='right']{
  text-align:right;
}
.marked-body.markdown-body table th[align='left'],
.marked-body.markdown-body table td[align='left']{
  text-align:left;
}

.marked-body.markdown-body img{
  display:block;
  max-width:100%;
  margin:0 auto;
}

.marked-body .marked-src{
  display:block;
  max-width: 100%;
  margin: .5rem auto;
  text-align: center;
  border-radius: 2px;
  transition: all .25s;
}
.marked-body .marked-caption{
  display:flex;
  align-items:center;
  justify-content:center;
}
.marked-body .marked-caption-text{
  min-height: 22px;
  padding: 6px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color:#a6a6a6;
}
.marked-body iframe{
  display:block;
  margin:0 auto;
  max-width:100%;
  margin-bottom: 16px;
  background: #24292e;
}
.marked-body iframe.bilibili{
  width:100%!important;
  height:450px!important;
  border:1px solid #eee;
}
.marked-body iframe.net-ease{
  width:100%!important;
  height:86px!important;
}
.marked-body:last-child{
  margin-bottom:0!important;
}
.marked-body.markdown-body a:hover{
  text-decoration: none;
}
